name: applesales

services:
  msAgenda:
    build: ./msAgenda
    image: msagenda:latest
    ports:
      - "3004:3004"
    environment:
      - MONGO_URL=mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}:${MONGODB_PORT}/agenda?authSource=${MONGODB_AUTH_SOURCE}
      - PORT=3004
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=${NODE_ENV}
    networks:
      - applesales-network
  msCanjes:
    build: ./msCanjes
    image: mscanjes:latest
    ports:
      - "3006:3006"
    environment:
      - MONGO_URL=mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}:${MONGODB_PORT}/canjes?authSource=${MONGODB_AUTH_SOURCE}
      - PORT=3006
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=${NODE_ENV}
    networks:
      - applesales-network
  msClientes:
    build: ./msClientes
    image: msclientes:latest
    ports:
      - "3003:3003"
    environment:
      - MONGO_URL=mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}:${MONGODB_PORT}/clientes?authSource=${MONGODB_AUTH_SOURCE}
      - PORT=3003
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=${NODE_ENV}
      - SEGURIDADMS_URL=http://msSeguridad:3002/
    networks:
      - applesales-network
  msCuentasBancarias:
    build: ./msCuentasBancarias
    image: mscuentasbancarias:latest
    ports:
      - "3009:3009"
    environment:
      - MONGO_URL=mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}:${MONGODB_PORT}/cuentas_bancarias?authSource=${MONGODB_AUTH_SOURCE}
      - PORT=3009
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=${NODE_ENV}
    networks:
      - applesales-network
  msProductos:
    build: ./msProductos
    image: msproductos:latest
    ports:
      - "3001:3001"
    environment:
      - MONGO_URL=mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}:${MONGODB_PORT}/productos?authSource=${MONGODB_AUTH_SOURCE}
      - PORT=3001
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=${NODE_ENV}
      - R2_ENDPOINT=${R2_ENDPOINT}
      - R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
      - R2_BUCKET_NAME=${R2_BUCKET_NAME}
      - R2_PUBLIC_URL=${R2_PUBLIC_URL}
    networks:
      - applesales-network
  msReservas:
    build: ./msReservas
    image: msreservas:latest
    ports:
      - "3007:3007"
    environment:
      - MONGO_URL=mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}:${MONGODB_PORT}/reservas?authSource=${MONGODB_AUTH_SOURCE}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=3007
      - PORCENTAJE_RESERVA=.2
      - VIGENCIA_RESERVA=7
      - NODE_ENV=${NODE_ENV}
      - R2_ENDPOINT=${R2_ENDPOINT}
      - R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
      - R2_BUCKET_NAME=${R2_BUCKET_NAME}
      - R2_PUBLIC_URL=${R2_PUBLIC_URL}
    networks:
      - applesales-network
  msSeguridad:
    build: ./msSeguridad
    image: msseguridad:latest
    ports:
      - "3002:3002"
    environment:
      - MONGO_URI=mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}:${MONGODB_PORT}/seguridad?authSource=${MONGODB_AUTH_SOURCE}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRY=${JWT_EXPIRY}
      - REFRESH_TOKEN_EXPIRY_DAYS=7
      - REFRESH_TOKEN_BYTES=64
      - COOKIE_SECURE=false
      - PORT=3002
      - NODE_ENV=${NODE_ENV}
    networks:
      - applesales-network
  msSucursales:
    build: ./msSucursales
    image: mssucursales:latest
    ports:
      - "3005:3005"
    environment:
      - MONGO_URL=mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}:${MONGODB_PORT}/sucursales?authSource=${MONGODB_AUTH_SOURCE}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=3005
      - NODE_ENV=${NODE_ENV}
    networks:
      - applesales-network

networks:
  applesales-network:
    driver: bridge